{% comment %}
  @param is_article {bool}
    Set as true to show article.liquid only sharing buttons

  @param is_product {bool}
    Set as true to show product.liquid only sharing buttons

  @param item {object}
    Define either `product` or `article` as item
{% endcomment %}

{% capture permalink_url %}{{ shop.url }}{{ item.url }}{% endcapture %}

<div class="share-buttons no-count" data-permalink="{{ permalink_url }}">

  <a
    class="share-buttons-item share-facebook"
    target="_blank"
    href="//www.facebook.com/sharer.php?u={{ permalink_url }}">
    <span>{{ 'general.social.facebook' | t }}</span>
    <span class="share-count"></span>
  </a>

  <a
    class="share-buttons-item share-twitter"
    target="_blank"
    href="//twitter.com/share?url={{ permalink_url }}">
    <span>{{ 'general.social.twitter' | t }}</span>
    <span class="share-count"></span>
  </a>

  {% if is_product %}

    <a
      class="share-buttons-item share-pinterest"
      target="_blank"
      href="//pinterest.com/pin/create/button/?url={{ permalink_url }}&amp;media=http:{{ item | img_url: '1024x1024' }}&amp;description={{ item.title | url_escape }}">
      <span>{{ 'general.social.pinterest' | t }}</span>
      <span class="share-count"></span>
    </a>

    <a
      class="share-buttons-item share-fancy"
      target="_blank"
      href="http://www.thefancy.com/fancyit?ItemURL={{ permalink_url }}&amp;Title={{ item.title | url_escape }}&amp;Category=Other&amp;ImageURL={{ item | img_url: '1024x1024' }}">
      <span>{{ 'general.social.fancy' | t }}</span>
    </a>
  
  {% endif %}
  
  {% if is_article %}
    {% if item.image %}
      {% assign src = item.image | img_url: '1024x1024' %}
    {% else %}
      {% assign src = false %}
      {% assign img_tag = '<img' %}
      {% if item.excerpt_or_content contains img_tag %}
        {% assign src = item.excerpt_or_content | split: 'src="' %}
        {% assign src = src[1] | split: '"' | first %}
      {% endif %}
    {% endif %}
    
    {% if src %}
      <a
        class="share-buttons-item share-pinterest"
        target="_blank"
        href="//pinterest.com/pin/create/button/?url={{ permalink_url }}&amp;media=http:{{ src }}&amp;description={{ item.title | escape }}">
        <span>{{ 'general.social.pinterest' | t }}</span>
        <span class="share-count"></span>
      </a>
      <a
        class="share-buttons-item share-fancy"
        target="_blank"
        href="http://www.thefancy.com/fancyit?ItemURL={{ permalink_url }}&amp;Title={{ item.title | url_escape }}&amp;Category=Other&amp;ImageURL={{ src }}">
        <span>{{ 'general.social.fancy' | t }}</span>
      </a>
    {% else %}
      <a class="share-buttons-item share-pinterest disabled">
        <span>{{ 'general.social.pinterest' | t }}</span>
        <span class="share-count"></span>
      </a>
      <a
        class="share-buttons-item share-fancy disabled">
        <span>{{ 'general.social.fancy' | t }}</span>
      </a>
    {% endif %}
  {% endif %}

  <a
    class="share-buttons-item share-google"
    target="_blank"
    href="//plus.google.com/share?url={{ permalink_url }}">
    <span></span>
    <span class="share-count">{{ 'general.social.google' | t }}</span>
  </a>

</div>
