<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
	<meta name="description" content="{{ page_description | escape }}" />
	<!--
	***********************************************************************************************************

		www.jewelbots.com
		v.4.1
                                _ _           _
           (♥) _____      _____| | |__   ___ | |_ ___
           | |/ _ \ \ /\ / / _ \ | '_ \ / _ \| __/ __|
           | |  __/\ V  V /  __/ | |_) | (_) | |_\__ \
          _/ |\___| \_/\_/ \___|_|_.__/ \___/ \__|___/
         |__/

	***********************************************************************************************************
	-->
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="15" />
	<meta name="google-site-verification" content="WkWMC2U0n_lT3U1t_-PhLM0CGoeS25ux-D6LGOwu8Fg" />
	<link rel="shortcut icon" href="{{ 'JBS__favicon.png' | asset_url }}" type="image/png">
	<link rel="canonical" href="{{ canonical_url }}" />
	<!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("f65e8da0dc6a3b25ea6c7bc8345c3f80");</script><!-- end Mixpanel -->
<script>
if (navigator.userAgent.indexOf("ionic") !== -1) {
  	window.onload = function(){
				document.getElementsByClassName('back-mobile')[0].style.visibility = 'hidden';
		}
}
</script>

  <style>
	@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,700,700i%7CQuicksand:700');

  html{
		font-family:  'Nunito', sans-serif;
		font-weight:300;
		color: black;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Quicksand', sans-serif;
		font-weight:400;
		color: #e1146e;
   }

  .inner-welcome img{
  	max-width: 450px;
  	height: auto;
  }
	.inner-welcome h2{
  	font-weight: bold;
  	font-size: 27px;

  }
	.inner-welcome h3{
  	font-weight: bold;
  	font-size: 20px;
  }
	.inner-welcome h4{
		line-height: 3px;
	}
	.setup h4{

		padding-top: 15px;
	}

  .inner-welcome{
  	display: block;
  	width: 100%;
		background-color:white;
  	right:0;
  	top: 0;
  	min-height: 700px;
		color: black;
  }
  .inner-welcome.copy{
  	background-color: white;
  }
  .jbot_onboarding img{
    width: 100%;
    max-width:1000px;
  }

	.sample_code {
		width: 70%;
		background-color: #fbd2e4;
		color: #5a4e53;
		font-size: 20px;
		margin-right: 10px;
		padding: 0 30px 10px 30px;
		white-space: pre-wrap;
		font-family: monospace;
	}
	.led_image img{
		width: 65%;
	  max-width: 700px;
	  display: block;
	}
	@media (min-width: 767px) {
		.back-mobile{
			display:none;
		}
  </style>

</head>
{{ content_for_header }}
{{ content_for_layout }} <!-- placeholder for each template file -->

</body>
</html>
