<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><html class="no-js" lang="en"><![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=utf-8 ;">

  {% assign tab_index = 0 %}

  {% if template == 'index' %}
    <title>{{ shop.name }} | {{ page_title }}</title>
  {% elsif template == '404' %}
    <title>{{ "general.404.title" | t }} | {{ shop.name }}</title>
  {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
  {% endif %}

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
  {% endif %}

  {% include 'favicon' %}

  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {{ content_for_header }}

  {% include 'social-meta' %}

  {% include 'scripts-styles-header' %}

	<!-- TYPEKIT: used for adding Museo Font ⬇ -->
	<script src="//use.typekit.net/rbz5qur.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<!-- TYPEKIT  ⬆ -->
{% include 'JBS__mixpanel__tracking_theme' %}
<link type="text/css" rel="stylesheet" href="{{ 'JBS__style.css' | asset_url }}" media="screen" />


</head>

{% include 'additional-classes' %}
<body class="{{ bodyClasses }}" style="border-top: solid 70px rgba(20,200,170,0.0);">
	{% section 'JBS__section__header' %}
	<div id="site_container">


		  <main class="main-content">

		    {% unless template contains 'index' or fullBleed %}
		      {% unless template contains 'slideshow' and settings.product-slideshow-layout == 'full-width' %}
		        <!--{% include 'breadcrumbs' %}-->
		      {% endunless %}
		    {% endunless %}

		    {{ content_for_layout }}
		  </main>

		{% section 'JBS__section__footer' %}

		{% include 'scripts-styles-footer' %}
	</div>
	<!-- ZENDESK  ⬇ -->
	<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","jewelbots.zendesk.com");
	/*]]>*/</script>
	<!-- ZENDESK  ⬆ -->
</body>
</html>
