<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
	<meta name="description" content="{{ page_description | escape }}" />
	<!--
	***********************************************************************************************************

		www.shop.jewelbots.com
		v.4.1
                                _ _           _
           (♥) _____      _____| | |__   ___ | |_ ___
           | |/ _ \ \ /\ / / _ \ | '_ \ / _ \| __/ __|
           | |  __/\ V  V /  __/ | |_) | (_) | |_\__ \
          _/ |\___| \_/\_/ \___|_|_.__/ \___/ \__|___/
         |__/

	***********************************************************************************************************
	-->
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="format-detection" content="telephone=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="15" />
	<meta name="google-site-verification" content="WkWMC2U0n_lT3U1t_-PhLM0CGoeS25ux-D6LGOwu8Fg" />
	<link rel="shortcut icon" href="{{ 'JBS__favicon.png' | asset_url }}" type="image/png">
	<link rel="canonical" href="{{ canonical_url }}" />

	<!-- STYLES: ⬇ -->
  <link type="text/css" rel="stylesheet" href="{{ 'JBS__style_reset.css' | asset_url }}" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ 'bootstrap.min.css' | asset_url }}" media="screen" />
	<link type="text/css" rel="stylesheet" href="{{ 'JBS__style.css' | asset_url }}" media="screen" />
	<link type="text/css" rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="screen" />

	<!-- STYLES  ⬆ -->
	<!-- TYPEKIT: ⬇ used for adding Museo  -->
	<script src="//use.typekit.net/rbz5qur.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
 <!-- TYPEKIT  ⬆ -->
 <script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="4.0.0";
  analytics.load("Xk5IfqMJ2gAkgQ316lZeIxZal5NOPIUP");
  analytics.page();
  }}();
</script>
	<!-- SCRIPTS: ⬇ note: oll other functions are found inside the individual section's source file -->
  <script src="{{ 'jquery-3.1.1.min.js' | asset_url }}" ></script>
	<script src="{{ 'bootstrap.js' | asset_url }}" ></script>
	<script src="{{ 'modernizr.js' | asset_url }}" ></script>

	<script>
	$(function() {

		window.isMobile = function() {
	  var check = false;
	  (function(a){if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(a)||/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(a.substr(0,4))) check = true;})(navigator.userAgent||navigator.vendor||window.opera);
	  return check;
	};
	$('.dropdown').find('a:not(.dropdown-toggle)').click(function(e){
		if(!window.isMobile()){
		$('iframe.sub-page').attr('src', this.href);
		$("body").scrollTop(0);
		if($(".navbar-toggle").css('display') == "block")
		{
			$(".navbar-collapse").collapse('hide');
		}
		return false;
	}
	});

	$(function(){
			var height = window.innerHeight;
			$('iframe').css('height', height);
			$('#ipm').remove();
	});

	//And if the outer div has no set specific height set..
	$(window).resize(function(){
			var height = window.innerHeight;
			$('iframe').css('height', height);
			$('#Embed').hide();
	});



});

		window.onload=body_load;
		function body_load(){$('.section_header').stop().show().animate({'opacity': '1.0'}, 250, function() {	});}
		</script>
		<style>
		.section_header {opacity: 0.0;}
		</style>

  	{{ content_for_header }}



</head>

<body>
	{% section 'JBS__section__header' %}
	<div id="site_container">
		{{ content_for_layout }} <!-- placeholder for each template file -->
	</div>

</body>
</html>
