

<div class="nav-wrapper">

<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
      <li class="dropdown open">
        <a href="/support" class="dropdown-toggle" data-toggle="dropdown">Welcome<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity">{{ '1f917.png' | asset_url | img_tag }}</span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li><a href="/pages/charging">Charging</a></li>
          <li><a href="/pages/firmware">Update Firmware</a></li>
        </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Friendship<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity">{{ '1f415.png' | asset_url | img_tag }}</span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="/pages/pairing">Pairing</a></li>
            <li><a href="/pages/messaging">Messaging</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coding<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity">{{ '1f308.png' | asset_url | img_tag }}</span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="/pages/arduino">Install Arduino IDE</a></li>
            <li><a href="/pages/boards">Add Boards</a></li>
            <li><a href="/pages/sketch">Upload Sketch</a></li>
            <li><a href="/pages/samples">Sample Code</a></li>
          </ul>
        </li>
        <li class="dropdown">
        <a href="/support" class="dropdown-toggle" data-toggle="dropdown">FAQs<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity">{{ '1f917.png' | asset_url | img_tag }}</span></a>
        <ul class="dropdown-menu forAnimate" role="menu">
          <li><a href="/pages/FAQgeneral">General</a></li>
          <li><a href="/pages/FAQbattery">Battery</a></li>
          <li><a href="/pages/FAQpairing">Pairing</a></li>
          <li><a href="/pages/FAQmessaging">Messaging</a></li>

        <li class="dropdown">
          <a href="/pages/library">Library</span><span style="font-size:16px;" class="pull-right hidden-xs showopacity">{{ '1f392.png' | asset_url | img_tag }}</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<div style="clear: both;"></div>

</div>

<script>

//iframe solution for shopify template problem

$('.dropdown').children('a').click(function(){
  $('iframe.sub-page').attr('src', this.href);
  return false;
});

var buffer = 20; //scroll bar buffer
var iframe = document.getElementsByClassName('sub-page');

function pageY(elem) {
    return elem.offsetParent ? (elem.offsetTop + pageY(elem.offsetParent)) : elem.offsetTop;
}

function resizeIframe() {
    var height = document.documentElement.clientHeight;
    height -= pageY(document.getElementById('sub-page'))+ buffer ;
    height = (height < 0) ? 0 : height;
    document.getElementsByClassName('sub-page').style.height = height + 'px';
}

if (iframe.attachEvent) {
    iframe.attachEvent("onload", resizeIframe);
} else {
    iframe.onload=resizeIframe;
}

window.onresize=resizeIframe;

</script>
