{% layout 'theme.JBS.blank' %}

<div class="inner-welcome" id="page-content-wrapper">
<span class="back-mobile"><h1><a href="/pages/support">Back</a></h1></span>

<h2>Upload a Sketch</h2>
<p>A sketch is the code your Arduino IDE that you will upload to your Jewelbots! It's similar to creating a new document.</p>


<h3><span>1. </span> Hit the "New" button for a blank Arduino Sketch.</h3>
{{ 'go_section_instruction_screengrab5.png' | asset_url | img_tag }}

<h3><span>2. </span>Go to the Tools menu again, scroll over <i>"Board:"</i> and click on Jewelbots Boards called <i>Solo Coding Board (or JWB nRF51822, depending on the version of firmware that you have)</i>.</h3>
  <p>It will most likely appear at the bottom of the menu of Boards.
  {{ 'go_section_instruction_screengrab19.png' | asset_url | img_tag }}
  </p>


<h3><span>3. </span> Go to the Tools menu and select the correct port for the Jewelbot. It is easiest if the Jewelbot is the only USB device plugged into the computer.	</h3>
  <p>a. Windows: Select the correct COM XX port
  {{ 'go_section_instruction_screengrab6a.png' | asset_url | img_tag }}
  <br>b. Mac: Select the correct /dev/cu.usberial-XXXXXX
  {{ 'go_section_instruction_screengrab6b.png' | asset_url | img_tag }}
  <br>c. Linux: Select the correct /dev/ttyUSBX.
    {{ 'go_section_instruction_screengrab16.png' | asset_url | img_tag }}
  </p>

<h3><span></span> Type in code that you want to upload to your Jewelbot! </h3>
  <p>To find out how to code your Jewelbot, check out Coding > Sample Code in the left side menu of this Getting Started page! You can also visit the <a href="http://community.jewelbots.com/" target="blank"> Jewelbots forums </a> for coding examples! </p>

<h3><span>4. </span> Press and hold the Magic Button for 2 seconds while your Jewelbot is plugged in	to put your Jewelbot into Upload Mode.</h3>
    <p>Note that the charging light (red or green) will turn off. Also, remember it's 2 full seconds (1 mississippi...) </p>

<h3><span>5. </span>Now you've created and uploaded a sketch! </h3>

<h2>Troubleshooting</h2>

<h4 class="question">When selecting the port, the "Port" option is grey and unclickable. What do I do?</h4>
  <p>Some suggestions to solve this would be:
  <ul>
    <li><span>•</span> Try plugging your Jewelbot into another USB port on your computer.</li>
    <li><span>•</span> If you are using a laptop, try having your laptop charger plugged in. If it is already plugged in and you're having this issue, then try unplugging the charger.</li>
    <li><span>•</span> Try restarting the Arduino IDE or restarting your computer.</li>
  </ul>
  </p>

  <h4 class="question">I tried all the ports, but none of them work!</h4>
    <p>Some suggestions to solve this would be:
    <ul>
      <li><span>•</span> Try plugging your Jewelbot into another USB port on your computer.</li>
      <li><span>•</span> Try using a different USB plug to connect your Jewelbot with.</li>
      <li><span>•</span> If you have a windows computer, try installing drivers from <a href="http://www.ftdichip.com/Drivers/VCP.htm">this website here</a></li>
      <li><span>•</span> Try restarting the Arduino IDE or restarting your computer.</li>
    </ul>
    </p>

    <h4 class="question">My jewelbot won’t light up at all or go into upload mode. I’ve tried unplugging it and plugging it back in and it doesn’t seem to be working.</h4>
      <h3>Try resetting your Jewelbot! To do this you can lift up the charm and use a pin to hit the tiny button on the side. Then attempt to upload code again.
      <br>
      <br>
    If none of these solutions seem to help, then email us at  <a href="mailto:hi@jewelbots.com">hi@jewelbots.com</a>
    </p>

<p></p>
<p></p>

{{ 'go_section_instruction_screengrab7.jpg' | asset_url | img_tag }}  <div class="clear"></div>
